@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
#logo-container {
    width: 100%;
    height: 20%;
    margin-top: 75px;
    z-index: -1;
}

#logo {
    display: block;
    max-width: 150px;
    height: auto;
    margin: auto;
}

#about {
    display: block;
    height: auto;
    max-width: 60%;
    margin: 75px auto;
    z-index: -1;
}

#about-text {
    display: block;
    font-size: 24px;
    line-height: 1.4;
    font-family: "Cormorant Garamond", serif;
    text-align: center;
    justify-content: center;
    color: rgb(59, 59, 59);
}

#icon-container {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content1 content2 content3";
}

#cnt1 {
    grid-area: content1;
    height: 200px;
    text-align: center;
    background-color: red;
}

#cnt2 {
    grid-area: content2;
    height: 200px;
    background-color: yellow;
}

#cnt3 {
    grid-area: content3;
    height: 200px;
    background-color: blue;
}

@media only screen and (max-width: 600px) {
    #icon-container {
        display: grid;
        background-color: pink;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "content1" "content2" "content3";
    }
    #cnt1 {
        grid-area: content1;
        height: 100px;
        background-color: red;
    }
    #cnt2 {
        grid-area: content2;
        height: 100px;
        background-color: yellow;
    }
    #cnt3 {
        grid-area: content3;
        height: 100px;
        background-color: blue;
    }
}